In [1]:
import numpy as np 
import pandas as pd

## How to read a File in Pandas

In [2]:
df = pd.read_csv(r"C:\Users\Neptune\Documents\Documents\EARLYCODE\Batches\DS201241010Y\Datasets\sample_pivot.csv")

In [9]:
df

           Date Region                 Type  Units  Sales
0     7/11/2020   East  Children's Clothing   18.0    306
1     9/23/2020  North  Children's Clothing   14.0    448
2      4/2/2020  South     Women's Clothing   17.0    425
3     2/28/2020   East  Children's Clothing   26.0    832
4     3/19/2020   West     Women's Clothing    3.0     33
..          ...    ...                  ...    ...    ...
995   2/11/2020   East  Children's Clothing   35.0    735
996  12/25/2020  North       Men's Clothing    NaN   1155
997   8/31/2020  South       Men's Clothing   13.0    208
998   8/23/2020  South     Women's Clothing   17.0    493
999   8/17/2020  North     Women's Clothing   25.0    300

[1000 rows x 5 columns]

In [ ]:
## To get the first five information for a table 
df.head()

In [ ]:
## To get the last five informations for a table 
df.tail()

In [ ]:
df.describe()

In [ ]:
df.shape

## DATA WRANGLING

In [11]:
## Data wrangling is the act pf checking missing dataset and cleaning them

In [ ]:
df.info()

In [13]:
## Convertiung the Date column to the right datatype 
df["Date"] = pd.to_datetime(df["Date"])

In [ ]:
df.info()

In [ ]:
## To check for missing values in a DataFrame 
df.isnull().sum()

In [18]:
df.head(15)

         Date Region                 Type  Units  Sales
0  2020-07-11   East  Children's Clothing   18.0    306
1  2020-09-23  North  Children's Clothing   14.0    448
2  2020-04-02  South     Women's Clothing   17.0    425
3  2020-02-28   East  Children's Clothing   26.0    832
4  2020-03-19   West     Women's Clothing    3.0     33
5  2020-02-05  North     Women's Clothing   33.0    627
6  2020-01-24  South     Women's Clothing   12.0    396
7  2020-03-25   East     Women's Clothing   29.0    609
8  2020-01-03  North  Children's Clothing   18.0    486
9  2020-11-03   East  Children's Clothing   34.0    374
10 2020-04-16  South     Women's Clothing   16.0    352
11 2020-08-09  North       Men's Clothing    NaN    270
12 2020-05-01   East       Men's Clothing   10.0    140
13 2020-08-11   East  Children's Clothing   12.0    348
14 2020-01-07   East       Men's Clothing   30.0    360

In [16]:
## Forward Fill 
df1 = df.copy()
df1.ffill(inplace = True)

In [ ]:
df1.head(15)

In [ ]:
df1.isnull().sum()

In [21]:
## Backward Fill
df2 = df.copy()
df2.bfill(inplace = True )

In [ ]:
df2.isnull().sum()

In [ ]:
df2.head(15)

In [25]:
## Dropping missing values 
df.dropna(inplace = True)

In [ ]:
df.isnull().sum()

In [28]:
## Using the mean 
df3 = df.copy()
df3.fillna(np.mean(df3["Units"]), inplace = True )

In [ ]:
df3.isnull().sum()

## Pivot Table

In [ ]:
## pivot table are powerful data analysis tools used to summarize and analyze large datasets 
df_pv = pd.pivot_table( df1, index = "Region", columns ="Type", values ="Units", aggfunc = "count")
df_pv

In [ ]:
## Grouping 
df4 = df1.groupby("Region").mean(["Units"])
df4

In [ ]:
df5 = df1.groupby(["Region", "Type"]).mean(["Units", "Sales"])
df5

In [42]:
 west =df1[df1["Region"] == "West"]
 east = df1[df1["Region"] == "East"]
 north= df1[df1["Region"] == "North"]
 south = df1[df1["Region"] == "South"]


## Concatenation

In [ ]:
df_region = pd.concat([west, east, north, south])
df_region

## Saving a DataFrame

In [45]:
## CSV
west.to_csv("West Region.csv", index = False)

In [ ]:
## Excel
east.to_excel("East Region.xlsx", index = False)

In [ ]:
"""
Assignment 
create a DataFrame to perform following the merger, stack, melt and crosstab
requests, excelwriter
"""