## Supermarket Financial Analysis
## Author Collins Akoja
## Date : 14th June, 2025

In [70]:
## Modules
import pandas as pd
import numpy as np
import plotly as plt
import seaborn as sns
import statsmodels.tsa.holtwinters
##import SimpleExpSmoothing

In [85]:
df = pd.read_csv(r"c:\Users\RICHMAN\Desktop\DBMS\DBM-HMEDIX\HMEDIX_Transactions_With_Month.csv")

In [86]:
df

,Date,Description,Type,Category,Amount,Balance,Notes,Month
0,2025-01-01,POS Sales,Credit,Groceries,331932,5331932,Daily revenue,2025-01
1,2025-01-01,Payroll Expense,Debit,Payroll,227892,5104040,Payroll expense,2025-01
2,2025-01-02,POS Sales,Credit,Groceries,368266,5472306,Daily revenue,2025-01
3,2025-01-03,POS Sales,Credit,Groceries,391335,5863641,Daily revenue,2025-01
4,2025-01-04,POS Sales,Credit,Groceries,200769,6064410,Daily revenue,2025-01
...,...,...,...,...,...,...,...,...
191,2025-06-25,POS Sales,Credit,Groceries,329473,40359261,Daily revenue,2025-06
192,2025-06-25,Utilities Expense,Debit,Utilities,76570,40282691,Utilities expense,2025-06
193,2025-06-26,POS Sales,Credit,Groceries,201015,40483706,Daily revenue,2025-06
194,2025-06-28,POS Sales,Credit,Groceries,262292,40745998,Daily revenue,2025-06
195,2025-06-29,POS Sales,Credit,Groceries,206970,40952968,Daily revenue,2025-06

In [82]:
df.info

<bound method DataFrame.info of            Date        Description    Type   Category  Amount   Balance  \
0    2025-01-01          POS Sales  Credit  Groceries  331932   5331932
1    2025-01-01    Payroll Expense   Debit    Payroll  227892   5104040
2    2025-01-02          POS Sales  Credit  Groceries  368266   5472306
3    2025-01-03          POS Sales  Credit  Groceries  391335   5863641
4    2025-01-04          POS Sales  Credit  Groceries  200769   6064410
..          ...                ...     ...        ...     ...       ...
191  2025-06-25          POS Sales  Credit  Groceries  329473  40359261
192  2025-06-25  Utilities Expense   Debit  Utilities   76570  40282691
193  2025-06-26          POS Sales  Credit  Groceries  201015  40483706
194  2025-06-28          POS Sales  Credit  Groceries  262292  40745998
195  2025-06-29          POS Sales  Credit  Groceries  206970  40952968

                 Notes    Month
0        Daily revenue  2025-01
1      Payroll expense  2025-01
2        Daily revenue  2025-01
3        Daily revenue  2025-01
4        Daily revenue  2025-01
..                 ...      ...
191      Daily revenue  2025-06
192  Utilities expense  2025-06
193      Daily revenue  2025-06
194      Daily revenue  2025-06
195      Daily revenue  2025-06

[196 rows x 8 columns]>

In [ ]:
## converting date to datetime
date_range = pd.date_range(start ="2025-01-01", end = "2025-06-30")

## Convert the date to range in the dateframe
df = pd.DataFrame({"Date": date_range})
df
df["Date"] = pd.to_datetime(df["Date"])
df
df["Date"] = pd.to_datetime(df["Date"], format ="%dd/%mm/%yy")
df["month"] = df["Date"] .dt.to_period("M")

In [89]:
## KPI CALCULATIONS

total_income = df[df["Type"] == "Credit"]["Amount"].sum()
total_expense = df[df["Type"] == "Debit"]["Amount"].sum()
net_profit = total_income - total_expense

In [ ]:
print("Total Income:", total_income)
print("Total Expense:", total_expense)
print("Net Profit: ", total_income - total_expense)

Total Income: 42551817
Total Expense: 6598849
Net Profit:  35952968

In [87]:
monthly_sales = df[df["Type"] == "Credit"].groupby("Month")["Amount"]
top_expenses = df[df["Type"] == "Debit"].groupby("Category")["Amount"]

In [ ]:
top_expenses.plot(kind ="bar", title ="Top Exp Table")
plt.ylabel("Amount")
plt.show()

:

In [ ]:
from statsmodels.tsa.holtwinters import ExponentialSmoothing

In [ ]:
model = SimpleExpSmoothing(monthly_sales)
model_fit = model.fit()

NameError: name 'SimpleExpSmoothing' is not defined